@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  /* overflow-x: hidden; */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Custom Style */

.nav-bg {
  background-color: #444;
}

.row {
  --bs-gutter-x: 0rem !important;
}

.brand-style {
  font-family: 'Permanent Marker', cursive;
  color: white;
  font-size: 1.7rem;
}

a {
  color: white;
  padding-top: 2px;
}

a:hover {
  color: white;
}

.header-style {
  color: #f9ab00;
}

.header-style:hover {
  color: #f9ab00;
}

li:hover {
  border-top: 2px solid #f9ab00;
}

.wrapper {
  position: absolute;
  height: 88.4vh;
  width: 100wh;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, .9)), url('/src/Components/kari-shea-1SAnrIxw5OY-unsplash.jpg') center center/cover;
}

.content {
  z-index: 9;
  height: 88vh;
}

.btn-contact {
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: transparent;
  color: #f9ab00;
  border: 2px solid #f9ab00;
}

.btn-contact:hover {
  background-color: #f9ab00;
  color: white;
  transition: 0.5s ease-in-out all;
}

.btn-contact:active {
  transform: scale(1.1);
  /* border: 2px solid #f9ab00; */
}

.content h1 {
  color: #f9ab00;
  text-transform: capitalize;
}

.content h4 {
  color: white;
  margin: 1rem 0;
}

.typed-text {
  font-size: 2rem;
  color: white;
}

.tsparticles-canvas-el {
  position: absolute;
  height: 100%;
  width: 100%;
}

/* New Style */

button {
  z-index: 7;
}

@media(max-width:768px) {
  .content h1 {
    font-size: 2rem;
    text-align: center;
  }
  .navbar-brand {
    margin-left: 1.5rem;
  }
  .navbar-toggler {
    margin-right: 1rem;
  }
  .nav-link {
    margin-left: 1.5rem;
  }  
}